<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>

    </style>
    <script src="https://cdn.jsdelivr.net/npm/echarts@latest/dist/echarts.min.js"></script>
</head>

<body>
    <h2>演员关系图</h2>
    <div id="actorGraph" style="width: 100%; height: 1000%;" posion="center" >

        <script>
            // 基于准备好的 dom，初始化 echarts 实例
            var myChart = echarts.init(document.getElementById('actorGraph'));

            // 使用 Fetch API 获取后端 Flask 提供的 JSON 数据
            fetch('/require/people_relationship/{{people_id}}')
                .then(response => response.json())  // 解析JSON
                .then(data => {
                    // 使用获取到的数据配置图表
                    var option = {
                        title: {
                            text: '演员关系图'
                        },
                        tooltip: {},
                        series: [
                            {
                                type: 'graph',
                                layout: 'force',  // 使用力导向布局
                                nodes: data.actors.map(actor => ({ name: actor.name, value: actor.name })),
                                links: data.links,
                                roam: true,  // 允许拖拽
                                draggable: true,
                                label: {
                                    show: true,
                                    position: 'right',
                                    formatter: '{b}'  // 显示演员名字
                                },
                                force: {
                                    repulsion: 50,  // 设置节点之间的斥力
                                    edgeLength: [50, 200]
                                },
                                layoutAnimation: true,
                                focusNodeAdjacency: true,
                            }
                        ]
                    };
                    

                    // 使用刚指定的配置项和数据显示图表
                    myChart.setOption(option);
                })
                .catch(error => console.error('Error loading JSON data:', error));

            // 在窗口大小变化时调整图表大小
            window.addEventListener('resize', function () {
                myChart.resize();
            });
        </script>
    </div>
</body>

</html>